.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #ffffff;
  text-decoration: none;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
ol {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
header {
  position: fixed;
  display: block;
  overflow: hidden;
  zoom: 1;
  height: 100px;
  width: 100%;
  background-color: rgba(27, 23, 42, 0.9);
  border-bottom: 1px solid #4b4a58;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 940px) {
  header {
    height: 60px;
  }
  header .container {
    width: 100%;
  }
}
header .brand {
  float: left;
  margin-top: 33px;
}
header .desktop-menu {
  height: 100px;
  float: right;
}
@media (max-width: 940px) {
  header .desktop-menu {
    display: none;
  }
}
header .desktop-menu > ul {
  display: inline-block;
  height: 100%;
}
header .desktop-menu > ul > li {
  display: inline-block;
  list-style: none;
}
header .desktop-menu > ul > li:not(:nth-child(7)) {
  margin-right: 32px;
  line-height: 95px;
}
header .desktop-menu > ul > li:not(:nth-child(7)):hover {
  border-bottom: 3px solid #4a35cb;
}
header .desktop-menu > ul > li:nth-child(7) {
  padding: 10px 13px;
  background-color: rgba(50, 58, 69, 0.5);
  text-align: center;
  position: relative;
}
header .desktop-menu > ul > li:nth-child(7) span {
  padding: 0 2px;
}
header .desktop-menu > ul > li > a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
@media (max-width: 767px) {
  header .desktop-menu > ul > li > a {
    font-size: 0.75em;
  }
}
header .desktop-menu > ul > li .desktop-dropdown-menu {
  display: none;
  list-style: none;
  position: absolute;
  top: 38px;
  left: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
  width: 132px;
  background-color: rgba(50, 58, 69, 0.5);
  text-align: center;
}
header .desktop-menu > ul > li .desktop-dropdown-menu li:not(:last-child) {
  margin-bottom: 10px;
}
header .desktop-menu > ul > li .desktop-dropdown-menu a:hover {
  color: #4a35cb;
}
@media (max-width: 767px) {
  header .desktop-menu > ul > li .desktop-dropdown-menu a {
    font-size: 0.9em;
  }
}
header .mobile-menu {
  display: none;
}
@media (max-width: 940px) {
  header .mobile-menu {
    display: inline-block;
    float: right;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
  }
}
.mobile-menu-layers {
  display: none;
}
.mobile-menu-layers .menu-shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.7;
  z-index: 2;
}
@media (max-width: 940px) {
  .mobile-menu-layers .absolute-mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 500px;
    background-color: #0a1723;
    border-left: 1px solid #4b4a58;
    z-index: 3;
  }
  .mobile-menu-layers .absolute-mobile-menu .close-column {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 75px;
    background: url("../img/banners/bg_texture.png") no-repeat;
    background-size: cover;
    background-position-x: -675px;
  }
  .mobile-menu-layers .absolute-mobile-menu .close-column .close-btn {
    background-color: rgba(27, 23, 42, 0.9);
    height: 60px;
    position: relative;
  }
  .mobile-menu-layers .absolute-mobile-menu .close-column .close-btn img {
    position: absolute;
    top: 16px;
    left: 24px;
  }
  .mobile-menu-layers .absolute-mobile-menu .items-column {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    position: absolute;
  }
  .mobile-menu-layers .absolute-mobile-menu .items-column ul {
    float: left;
    margin: 30px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .mobile-menu-layers .absolute-mobile-menu .items-column ul li {
    padding-bottom: 13px;
    margin-bottom: 22px;
    display: inline-block;
    margin-right: 50%;
  }
  .mobile-menu-layers .absolute-mobile-menu .items-column .dropdown {
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding: 10px 13px;
    background-color: rgba(50, 58, 69, 0.5);
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    float: left;
  }
  .mobile-menu-layers .absolute-mobile-menu .items-column .dropdown span {
    padding: 0 2px;
  }
  .mobile-menu-layers .absolute-mobile-menu .items-column .dropdown img:last-child {
    transform: rotate(180deg);
  }
  .mobile-menu-layers .absolute-mobile-menu .items-column .dropdown .mobile-dropdown-menu {
    display: none;
    position: absolute;
    top: -88px;
    left: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    width: 132px;
    background-color: rgba(50, 58, 69, 0.5);
    text-align: center;
    margin: 0;
  }
  .mobile-menu-layers .absolute-mobile-menu .items-column .dropdown .mobile-dropdown-menu li {
    width: 100%;
    margin: 0 0;
  }
  .mobile-menu-layers .absolute-mobile-menu .items-column .dropdown .mobile-dropdown-menu li:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 940px) and (max-height: 400px) {
  .mobile-menu-layers .absolute-mobile-menu .items-column .dropdown {
    right: 10px;
    bottom: 10px;
    left: auto;
  }
}
.active-menu-layers {
  display: block;
}
@media (max-width: 991px) {
  .about-page {
    min-height: 92vh;
  }
}
.about-page .banner {
  padding-top: 100px;
  height: 500px;
  width: 100%;
  background: url("../img/banners/about_banner.jpg") repeat-x top 100px center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 940px) {
  .about-page .banner {
    padding-top: 0;
    height: 400px;
    background-position: top center;
  }
}
.about-page .banner .heading-text {
  text-align: center;
}
.about-page .banner .heading-text h1 {
  display: inline-block;
  margin-left: -60px;
  font-size: 70px;
  font-weight: 900;
}
@media (max-width: 767px) {
  .about-page .banner .heading-text h1 {
    font-size: 3.5em;
    margin-left: -50px;
  }
}
@media (max-width: 600px) {
  .about-page .banner .heading-text h1 {
    margin-left: 0;
    text-align: center;
  }
}
.about-page .banner .heading-text h1::before {
  content: '';
  display: inline-block;
  width: 66px;
  height: 46px;
  background: url("../img/other/green-button.png") no-repeat center;
}
@media (max-width: 767px) {
  .about-page .banner .heading-text h1::before {
    width: 50px;
    height: 30px;
  }
}
@media (max-width: 600px) {
  .about-page .banner .heading-text h1::before {
    display: none;
  }
}
.about-page article {
  padding: 45px 0 65px;
}
@media (min-width: 991px) and (max-width: 1200px) {
  .about-page article {
    min-height: 56vh;
  }
}
.about-page article h3,
.about-page article p {
  margin-bottom: 30px;
}
.about-page article h2 {
  font-size: 40px;
  font-weight: 300;
  text-transform: none;
  margin-bottom: 22px;
}
.about-page article h3 {
  font-size: 25px;
  font-weight: 700;
  text-transform: none;
  line-height: 29px;
}
.about-page article p {
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
}
@media (max-width: 767px) {
  .about-page article h2 {
    font-size: 2.5em;
  }
  .about-page article h3 {
    font-size: 1.5em;
  }
  .about-page article p {
    font-size: 1em;
  }
}
.last-page .banner {
  padding: 153px 0 228px;
  background: url("../img/other/TV.png") no-repeat top 171px center;
}
@media (max-width: 940px) {
  .last-page .banner {
    padding-top: 53px;
    background-position: top 71px center;
  }
}
@media (max-width: 767px) {
  .last-page .banner {
    padding-bottom: 200px;
    background-size: 150%;
    background-position: top 50% center;
  }
}
@media (max-width: 590px) {
  .last-page .banner {
    padding-bottom: 150px;
  }
}
@media (max-width: 500px) {
  .last-page .banner {
    padding-bottom: 0;
    background-size: contain;
    background-position: top 140px center;
  }
}
.last-page .banner .heading-text {
  text-align: center;
}
.last-page .banner .heading-text h1 {
  font-size: 70px;
  font-weight: 900;
  margin: 0 0 13px -55px;
}
@media (max-width: 767px) {
  .last-page .banner .heading-text h1 {
    font-size: 3.5em;
    margin-left: -50px;
  }
}
.last-page .banner .heading-text h1::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 46px;
  background: url("../img/other/green-button.png") no-repeat center;
}
@media (max-width: 767px) {
  .last-page .banner .heading-text h1::before {
    width: 50px;
    height: 30px;
  }
}
.last-page .banner .heading-text h2 {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 7px;
}
@media (max-width: 767px) {
  .last-page .banner .heading-text h2 {
    font-size: 2em;
  }
}
@media (max-width: 541px) {
  .last-page .banner .heading-text h2 {
    font-size: 1.5em;
  }
}
.last-page .banner .tv-in-text {
  text-align: center;
  margin-top: 65px;
  padding-top: 55px;
}
@media (max-width: 767px) {
  .last-page .banner .tv-in-text {
    margin-top: 8vw;
  }
}
@media (max-width: 590px) {
  .last-page .banner .tv-in-text {
    padding-top: 0;
  }
}
@media (max-width: 500px) {
  .last-page .banner .tv-in-text {
    margin-top: 20vw;
  }
}
@media (max-width: 467px) {
  .last-page .banner .tv-in-text {
    margin-top: 16vw;
  }
}
.last-page .banner .tv-in-text img.first-line {
  margin-bottom: 28px;
  height: 188px;
}
@media (max-width: 767px) {
  .last-page .banner .tv-in-text img.first-line {
    width: 20%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .last-page .banner .tv-in-text img.first-line {
    width: 25%;
    margin-bottom: 20vw;
  }
}
@media (max-width: 467px) {
  .last-page .banner .tv-in-text img.first-line {
    width: 25%;
    margin-bottom: 16vw;
  }
}
.last-page .banner .tv-in-text .second-line {
  margin-bottom: 34px;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .last-page .banner .tv-in-text .second-line {
    margin-bottom: 1em;
  }
}
@media (max-width: 590px) {
  .last-page .banner .tv-in-text .second-line {
    margin-bottom: 0.75em;
  }
}
.last-page .banner .tv-in-text .second-line h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 13px;
  letter-spacing: 0;
}
@media (max-width: 767px) {
  .last-page .banner .tv-in-text .second-line h2 {
    font-size: 2.5em;
    margin-bottom: 0.3em;
  }
}
@media (max-width: 590px) {
  .last-page .banner .tv-in-text .second-line h2 {
    font-size: 2em;
    margin-bottom: 0.2em;
  }
}
.last-page .banner .tv-in-text .second-line p {
  font-size: 25px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .last-page .banner .tv-in-text .second-line p {
    font-size: 1.5em;
  }
}
.last-page .banner .tv-in-text .download-buttons a {
  display: inline-block;
  text-align: center;
  height: 70px;
  width: 250px;
  vertical-align: top;
}
@media (max-width: 767px) {
  .last-page .banner .tv-in-text .download-buttons a {
    height: 35px;
    width: 125px;
  }
}
@media (max-width: 500px) {
  .last-page .banner .tv-in-text .download-buttons a {
    margin-bottom: 53px;
  }
}
.last-page .banner .tv-in-text .download-buttons a:first-child {
  margin-left: 4px;
  margin-right: 27px;
  background-color: #7ca926;
  padding: 14px 0 0 2px;
}
@media (max-width: 767px) {
  .last-page .banner .tv-in-text .download-buttons a:first-child {
    padding: 7px 0 5px;
    margin-left: 2px;
    margin-right: 13.5px;
  }
}
@media (max-width: 330px) {
  .last-page .banner .tv-in-text .download-buttons a:first-child {
    margin: 0 5px 0 0;
  }
}
@media (max-width: 767px) {
  .last-page .banner .tv-in-text .download-buttons a:first-child img {
    height: 100%;
  }
}
.last-page .banner .tv-in-text .download-buttons a:nth-child(2) {
  background-color: #323a45;
  padding-top: 19px;
}
@media (max-width: 767px) {
  .last-page .banner .tv-in-text .download-buttons a:nth-child(2) {
    padding: 7px 0 5px;
  }
}
@media (max-width: 767px) {
  .last-page .banner .tv-in-text .download-buttons a:nth-child(2) img {
    height: 100%;
  }
}
.last-page .android-players {
  text-align: center;
  padding-bottom: 54px;
}
@media (max-width: 991px) {
  .last-page .android-players {
    padding-bottom: 40px;
  }
}
.last-page .android-players .first-line h3 {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 8px;
  letter-spacing: 1px;
}
.last-page .android-players .first-line h2 {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .last-page .android-players .first-line h2,
  .last-page .android-players .first-line h3 {
    font-size: 2em;
  }
}
.last-page .android-players .logos {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}
@media (max-width: 991px) {
  .last-page .android-players .logos {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .last-page .android-players .logos img {
    margin-bottom: 10px;
    max-width: 100%;
  }
}
.last-page .android-players .logos img:not(:last-child) {
  margin-right: 23px;
}
.last-page .android-players .logos img:first-child {
  height: 50px;
  margin-top: 18px;
}
@media (max-width: 500px) {
  .last-page .android-players .logos img:first-child {
    margin-right: 0;
  }
}
.last-page .android-players .logos img:nth-child(2) {
  margin-top: -6px;
  height: 36px;
  margin-right: 25px;
}
@media (max-width: 500px) {
  .last-page .android-players .logos img:nth-child(2) {
    margin-right: 0;
  }
}
.last-page .android-players .logos img:nth-child(3) {
  height: 60px;
}
@media (max-width: 500px) {
  .last-page .android-players .logos img:nth-child(3) {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.last-page .android-players .logos img:nth-child(4) {
  height: 35px;
  margin-top: 6px;
}
@media (max-width: 368px) {
  .last-page .android-players .logos img:nth-child(4) {
    height: 30px;
  }
}
.last-page .quality {
  text-align: center;
  padding: 129px 0 133px;
  background-size: cover;
  background: url("../img/banners/last_section3.jpg") repeat-x top center;
}
@media (max-width: 500px) {
  .last-page .quality {
    padding: 40px 0;
  }
}
.last-page .quality .first-line h3 {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 6px;
}
.last-page .quality .first-line h2 {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 13px;
}
.last-page .quality .first-line p {
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .last-page .quality .first-line h2,
  .last-page .quality .first-line h3 {
    font-size: 2em;
  }
  .last-page .quality .first-line p {
    font-size: 1.5em;
  }
}
.last-page .quality .logos {
  margin-top: 30px;
}
@media (max-width: 512px) {
  .last-page .quality .logos {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
}
.last-page .quality .logos img:not(:last-child) {
  margin-right: 35px;
}
.last-page .quality .logos img:first-child {
  margin-top: 34px;
}
.last-page .quality .logos img:nth-child(2) {
  margin-top: 18px;
}
@media (max-width: 512px) {
  .last-page .quality .logos img:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .last-page .quality .logos img:first-child {
    margin-top: 0;
  }
  .last-page .quality .logos img:nth-child(2) {
    margin-top: 0;
  }
}
.last-page .program-guide {
  padding: 66px 0 50px;
  text-align: center;
}
@media (max-width: 500px) {
  .last-page .program-guide {
    padding: 40px 0;
  }
}
.last-page .program-guide h2 {
  font-size: 35px;
  font-weight: 900;
}
@media (max-width: 767px) {
  .last-page .program-guide h2 {
    font-size: 2em;
  }
}
.last-page .program-guide .sep {
  margin-bottom: 10px;
}
.last-page .program-guide img {
  margin-left: -85px;
}
@media (max-width: 1290px) {
  .last-page .program-guide img {
    margin-left: 0;
    width: 100%;
  }
}
.last-page .tuner-only {
  background-color: #071018;
  padding: 125px 0 60px;
}
@media (max-width: 500px) {
  .last-page .tuner-only {
    padding-top: 40px;
  }
}
.last-page .tuner-only .row {
  display: inline-block;
}
.last-page .tuner-only .row img,
.last-page .tuner-only .row .about-tuner {
  display: block;
  float: left;
}
.last-page .tuner-only .row img {
  width: 35%;
}
@media (max-width: 767px) {
  .last-page .tuner-only .row img {
    padding-top: 50px;
  }
}
@media (max-width: 560px) {
  .last-page .tuner-only .row img {
    padding-top: 0;
    width: 100%;
  }
}
.last-page .tuner-only .row .about-tuner {
  width: 65%;
  padding: 45px 0 0 29px;
}
@media (max-width: 1200px) {
  .last-page .tuner-only .row .about-tuner {
    padding-top: 0;
  }
}
@media (max-width: 560px) {
  .last-page .tuner-only .row .about-tuner {
    width: 100%;
    padding: 0;
  }
}
.last-page .tuner-only .row .about-tuner h2 {
  text-transform: none;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .last-page .tuner-only .row .about-tuner h2 {
    font-size: 2.5em;
  }
}
.last-page .tuner-only .row .about-tuner p {
  color: #ffffff;
  font-size: 25px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .last-page .tuner-only .row .about-tuner p {
    font-size: 1.5em;
  }
}
.last-page .tuner-only .row .about-tuner .anchors a:first-child {
  margin-right: 17px;
  padding: 8px 52px 10px;
  background-color: #7ca926;
  font-size: 25px;
  font-weight: 900;
}
@media (max-width: 384px) {
  .last-page .tuner-only .row .about-tuner .anchors a:first-child {
    display: block;
    margin: 0 0 10px 0;
    text-align: center;
  }
}
.last-page .tuner-only .row .about-tuner .anchors a:last-child {
  color: #007ff2;
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 384px) {
  .last-page .tuner-only .row .about-tuner .anchors a:last-child {
    display: block;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .last-page .tuner-only .row .about-tuner .anchors a:first-child {
    font-size: 1.5em;
  }
  .last-page .tuner-only .row .about-tuner .anchors a:last-child {
    font-size: 0.9em;
  }
}
.last-page .setup-and-configurations {
  padding: 75px 0 250px;
  background: url("../img/banners/last_banner_hand.jpg") repeat-x center bottom -1px;
  background-size: cover;
}
@media (max-width: 500px) {
  .last-page .setup-and-configurations {
    padding: 40px 0;
  }
}
.last-page .setup-and-configurations .first-line {
  text-align: center;
}
.last-page .setup-and-configurations .first-line h3 {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 5px;
}
.last-page .setup-and-configurations .first-line h2 {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .last-page .setup-and-configurations .first-line h2,
  .last-page .setup-and-configurations .first-line h3 {
    font-size: 2em;
  }
}
.last-page .setup-and-configurations ul {
  margin-top: 54px;
}
.last-page .setup-and-configurations ul li {
  margin-bottom: 17px;
  font-size: 25px;
  font-weight: 300;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .last-page .setup-and-configurations ul li {
    font-size: 1.5em;
  }
}
.last-page .setup-and-configurations ul li::before {
  content: '';
  display: block;
  height: 42px;
  width: 40px;
  background: url("../img/icons/checked.png") no-repeat top 2px left 0;
  margin-right: 7px;
}
@media (max-width: 520px) {
  .last-page .setup-and-configurations ul li:nth-child(1)::before,
  .last-page .setup-and-configurations ul li:nth-child(3)::before {
    width: 50px;
  }
}
@media (max-width: 440px) {
  .last-page .setup-and-configurations ul li:nth-child(1)::before,
  .last-page .setup-and-configurations ul li:nth-child(3)::before {
    width: 60px;
  }
}
@media (max-width: 380px) {
  .last-page .setup-and-configurations ul li:nth-child(1)::before,
  .last-page .setup-and-configurations ul li:nth-child(3)::before {
    width: 76px;
  }
}
@media (max-width: 380px) {
  .last-page .setup-and-configurations ul li:nth-child(2)::before {
    width: 50px;
  }
}
.media-page .media-section {
  padding: 133px 0 100px;
}
@media (max-width: 940px) {
  .media-page .media-section {
    padding-top: 33px;
  }
}
.media-page .media-section h1 {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .media-page .media-section h1 {
    font-size: 2em;
  }
}
.media-page .media-section h1 span {
  font-weight: 900;
  letter-spacing: 0;
}
.media-page .media-section .media {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.media-page .media-section .media a img {
  height: 300px;
  width: 380px;
}
@media (max-width: 380px) {
  .media-page .media-section .media a img {
    height: 253px;
    width: 320px;
  }
}
.media-item-page .media-item {
  padding-top: 100px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .media-item-page .media-item {
    min-height: 92vh;
  }
}
@media (max-width: 991px) {
  .media-item-page .media-item {
    min-height: 84vh;
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .media-item-page .media-item {
    min-height: 78vh;
  }
}
@media (max-width: 400px) {
  .media-item-page .media-item {
    min-height: 76vh;
  }
}
@media (max-width: 365px) {
  .media-item-page .media-item {
    min-height: 72vh;
  }
}
.news-page .news-section {
  padding: 133px 0 100px;
}
@media (max-width: 940px) {
  .news-page .news-section {
    padding-top: 33px;
  }
}
.news-page .news-section h1 {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .news-page .news-section h1 {
    font-size: 2em;
  }
}
.news-page .news-section h1 span {
  font-weight: 900;
  letter-spacing: 0;
}
.news-page .news-section .sep-left {
  margin-bottom: 30px;
}
.news-page .news-section ul li {
  margin-bottom: 30px;
  padding-bottom: 38px;
  border-bottom: 1px solid #4b4a58;
}
.news-page .news-section ul li h2 {
  text-transform: none;
  font-size: 25px;
  font-weight: 900;
  line-height: 35px;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .news-page .news-section ul li h2 {
    font-size: 1.5em;
  }
  .news-page .news-section ul li h2 span {
    font-size: 0.9em;
  }
}
.news-page .news-section ul li h2 span {
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  background-color: #525c69;
}
.news-page .news-section ul li p {
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 3px;
}
.news-page .news-section ul li a {
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  color: #007ff2;
}
@media (max-width: 767px) {
  .news-page .news-section ul li p,
  .news-page .news-section ul li a {
    font-size: 1em;
  }
}
.news-page .news-section .numpage {
  text-align: center;
}
.news-page .news-section .numpage a {
  display: inline-block;
}
.news-page .news-section .numpage a img.num-double-arrow-l {
  margin-right: 20px;
}
@media (max-width: 431px) {
  .news-page .news-section .numpage a img.num-double-arrow-l {
    margin-right: 10px;
  }
}
.news-page .news-section .numpage a img.num-double-arrow-r {
  margin-left: 20px;
}
@media (max-width: 431px) {
  .news-page .news-section .numpage a img.num-double-arrow-r {
    margin-left: 10px;
  }
}
.news-page .news-section .numpage ol {
  margin: 0 20px;
  display: inline-block;
}
@media (max-width: 431px) {
  .news-page .news-section .numpage ol {
    margin: 0 10px;
  }
}
.news-page .news-section .numpage ol li {
  display: inline-block;
  vertical-align: middle;
}
.news-page .news-section .numpage ol li a {
  padding: 10px 14px;
  font-size: 20px;
  background-color: #323a45;
}
@media (max-width: 431px) {
  .news-page .news-section .numpage ol li a {
    padding: 10px;
    font-size: 16px;
  }
}
.news-page .news-section .numpage ol li a.num-active {
  background-color: #14202c;
}
.news-page .news-section .numpage ol li a:not(:last-child) {
  margin-left: 2px;
}
.news-next-page .news-next-section {
  padding: 133px 0 70px;
}
@media (max-width: 940px) {
  .news-next-page .news-next-section {
    padding-top: 33px;
  }
}
.news-next-page .news-next-section .heading-text {
  display: block;
  width: 51%;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .news-next-page .news-next-section .heading-text {
    width: 100%;
  }
  .news-next-page .news-next-section .heading-text a {
    font-size: 1em;
  }
  .news-next-page .news-next-section .heading-text h1 {
    font-size: 2.5em;
  }
  .news-next-page .news-next-section .heading-text span {
    font-size: 0.9em;
  }
}
.news-next-page .news-next-section .heading-text a {
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  color: #007ff2;
}
.news-next-page .news-next-section .heading-text h1 {
  margin: 15px 0 19px;
  text-transform: none;
  font-size: 40px;
  font-weight: 300;
  line-height: 44px;
}
.news-next-page .news-next-section .heading-text span {
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  background-color: #525c69;
}
.news-next-page .news-next-section .news-text {
  display: block;
  width: 100%;
}
.news-next-page .news-next-section .news-text p {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}
@media (max-width: 767px) {
  .news-next-page .news-next-section .news-text p {
    font-size: 1em;
  }
}
.news-next-page .news-next-section .news-text p b {
  font-weight: 700;
}
.news-next-page .news-next-section .news-text ul {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  color: #a2a2a2;
  list-style: inside url("../img/icons/chcked-2.png");
}
.news-next-page .news-next-section .news-text ul li {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .news-next-page .news-next-section .news-text ul {
    font-size: 1em;
  }
}
.news-next-page .news-next-section .news-text ul span {
  margin-bottom: 8px;
  display: block;
}
.support-page .support-section {
  padding: 133px 0 100px;
  min-height: 89vh;
}
@media (max-width: 1200px) {
  .support-page .support-section {
    min-height: 92.35vh;
  }
}
@media (max-width: 940px) {
  .support-page .support-section {
    padding-top: 33px;
  }
}
.support-page .support-section h1 {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .support-page .support-section h1 {
    font-size: 2em;
  }
}
.support-page .support-section h1 span {
  font-weight: 900;
  letter-spacing: 0;
}
.support-page .support-section .support-blocks {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.support-page .support-section .support-blocks > div {
  display: inline-block;
  width: 49%;
  padding: 50px 50px 72px 50px;
  background-color: #071018;
  text-align: center;
}
@media (max-width: 991px) {
  .support-page .support-section .support-blocks > div {
    width: 51%;
    margin: 0 auto;
  }
  .support-page .support-section .support-blocks > div.envelopes-block {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .support-page .support-section .support-blocks > div {
    width: 100%;
  }
}
.support-page .support-section .support-blocks > div img,
.support-page .support-section .support-blocks > div h2,
.support-page .support-section .support-blocks > div p {
  margin: 0 auto;
  display: block;
}
.support-page .support-section .support-blocks > div img {
  height: 90px;
  margin-bottom: 25px;
}
.support-page .support-section .support-blocks > div h2 {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 300;
  text-transform: none;
}
@media (max-width: 767px) {
  .support-page .support-section .support-blocks > div h2 {
    font-size: 2.5em;
  }
}
@media (max-width: 374px) {
  .support-page .support-section .support-blocks > div h2 {
    font-size: 30px;
  }
}
.support-page .support-section .support-blocks > div p {
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .support-page .support-section .support-blocks > div p {
    font-size: 1.5em;
  }
}
@media (max-width: 374px) {
  .support-page .support-section .support-blocks > div p {
    font-size: 18px;
    line-height: 20px;
  }
}
.support-page .support-section .support-blocks > div a {
  padding: 8px 45px;
  background-color: #7ca926;
  font-size: 25px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .support-page .support-section .support-blocks > div a {
    font-size: 1.5em;
  }
}
@media (max-width: 374px) {
  .support-page .support-section .support-blocks > div a {
    font-size: 20px;
    padding: 15px 35px;
  }
}
footer {
  height: 100px;
  width: 100%;
  background-color: #071018;
  padding-top: 5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  footer .container {
    width: 100%;
  }
}
footer .container img {
  display: inline-block;
  float: left;
}
@media (max-width: 457px) {
  footer .container img {
    display: block;
    float: none;
    margin: 0 auto;
  }
}
footer .container .copyright {
  display: inline-block;
  float: right;
  padding-top: 5px;
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 767px) {
  footer .container .copyright {
    font-size: 0.9em;
    padding-top: 10px;
  }
}
@media (max-width: 457px) {
  footer .container .copyright {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
  }
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #0a1723;
  color: #ffffff;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  text-transform: uppercase;
}
body p {
  color: #a2a2a2;
}
body a:hover,
body a:focus,
body a:active {
  color: #ffffff;
  text-decoration: none;
}
body .content {
  background: url("../img/banners/bg_texture.png") repeat-x top center;
}
@media (max-width: 940px) {
  body .content {
    padding-top: 60px;
    background-position: top 60px center;
  }
}
body .sep {
  margin: 25px auto;
  width: 60px;
  border-bottom: 1px solid #ffffff;
}
body .sep-left {
  margin: 15px 0 40px;
  width: 60px;
  border-bottom: 1px solid #ffffff;
}
body .active-nav {
  border-bottom: 3px solid #4a35cb;
}
