//About Page
//--------------

.about-page {
  @media (max-width: 991px) {
    min-height: 92vh;
  }
  .banner {
    padding-top: 100px;
    height: 500px;
    width: 100%;
    background: url("../img/banners/about_banner.jpg") repeat-x top 100px center;
    .flex(center);

    @media (max-width: 940px) {
      padding-top: 0;
      height: 400px;
      background-position: top center;
    }

    .heading-text {
      text-align: center;

      h1 {
        display: inline-block;
        margin-left: -60px;
        font-size: 70px;
        font-weight: 900;

        @media (max-width: 767px) {
          font-size: 3.5em;
          margin-left: -50px;
        }
        @media (max-width: 600px) {
          margin-left: 0;
          text-align: center;
        }

        &::before {
          content: '';
          display: inline-block;
          width: 66px;
          height: 46px;
          background: url("../img/other/green-button.png") no-repeat center;

          @media (max-width: 767px) {
            width: 50px;
            height: 30px;
          }
          @media (max-width: 600px) {
            display: none;
          }
        }
      }
    }
  }

  article {
    padding: 45px 0 65px;

    @media (min-width :991px) and (max-width: 1200px ) {
      min-height: 56vh;
    }

    h3, p {
      margin-bottom: 30px;
    }
    h2 {
      font-size: 40px;
      font-weight: 300;
      text-transform: none;
      margin-bottom: 22px;
    }
    h3 {
      font-size: 25px;
      font-weight: 700;
      text-transform: none;
      line-height: 29px;
    }
    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 22px;
    }

    @media (max-width: 767px) {
      h2 {
        font-size: 2.5em;
      }
      h3 {
        font-size: 1.5em;
      }
      p {
        font-size: 1em;
      }
    }
  }
}