footer {
  height: 100px;
  width: 100%;
  background-color: @footer-bg;
  padding-top: 5px;
  .flex(center);

  .container {
    @media (max-width: 767px) {
      width: 100%;
    }

    img {
      display: inline-block;
      float: left;

      @media (max-width: 457px) {
        display: block;
        float: none;
        margin: 0 auto;
      }
    }

    .copyright {
      display: inline-block;
      float: right;
      padding-top: 5px;
      font-size: 18px;
      font-weight: 300;

      @media (max-width: 767px) {
        font-size: 0.9em;
        padding-top: 10px;
      }
      @media (max-width: 457px) {
        display: block;
        width: 100%;
        float: none;
        text-align: center;
      }
    }
  }
}