header {
  position: fixed;
  display: block;
  overflow: hidden;
  zoom: 1;
  height: 100px;
  width: 100%;
  background-color: @half-header-bg;
  border-bottom: 1px solid @header-border;
  .flex(center);

  @media (max-width: 940px) {
    height: 60px;

    .container {
      width: 100%;
    }
  }

  .brand {
    float: left;
    margin-top: 33px;
  }

  .desktop-menu {
    height: 100px;
    float: right;

    @media (max-width: 940px) {
      display: none;
    }

    > ul {
      display: inline-block;
      height: 100%;

      > li {
        display: inline-block;
        list-style: none;


        &:not(:nth-child(7)) {
          margin-right: 32px;
          line-height: 95px;

          &:hover {
            border-bottom: 3px solid @header-active;
          }
        }

        &:nth-child(7) {
          padding: 10px 13px;
          background-color: @half-dark-grey;
          text-align: center;
          position: relative;

          span {
            padding: 0 2px;
          }
        }

        > a {
          text-transform: uppercase;
          font-size: 16px;
          font-weight: bold;

          @media (max-width:767px) {
            font-size: 0.75em;
          }
        }

        .desktop-dropdown-menu {
          display: none;
          list-style: none;
          position: absolute;
          top: 38px;
          left: 0;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: bold;
          padding: 10px 0;
          width: 132px;
          background-color: @half-dark-grey;
          text-align: center;

          li:not(:last-child) {
            margin-bottom: 10px;
          }
          a {
            &:hover {
              color: @header-active
            }

            @media (max-width: 767px) {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }
  .mobile-menu {
    display: none;

    @media (max-width: 940px) {
      display: inline-block;
      float: right;
      .flex(center);
      height: 100px;
    }
  }
}