//Last Page
//--------------

.last-page {
  .banner {
    padding: 153px 0 228px;
    background: url("../img/other/TV.png") no-repeat top 171px center;

    @media (max-width: 940px) {
      padding-top: 53px;
      background-position: top 71px center;
    }
    @media (max-width: 767px) {
      padding-bottom: 200px;
      background-size: 150%;
      background-position: top 50% center;
    }
    @media (max-width: 590px) {
      padding-bottom: 150px;
    }
    @media (max-width: 500px) {
      padding-bottom: 0;
      background-size: contain;
      background-position: top 140px center;
    }

    .heading-text {
      text-align: center;

      h1 {
        font-size: 70px;
        font-weight: 900;
        margin: 0 0 13px -55px;

        @media (max-width: 767px) {
          font-size: 3.5em;
          margin-left: -50px;
        }

        &::before {
          content: '';
          display: inline-block;
          width: 60px;
          height: 46px;
          background: url("../img/other/green-button.png") no-repeat center;

          @media (max-width: 767px) {
            width: 50px;
            height: 30px;
          }
        }
      }

      h2 {
        font-size: 35px;
        font-weight: 300;
        letter-spacing: 7px;

        @media (max-width: 767px) {
          font-size: 2em;
        }
        @media (max-width: 541px) {
          font-size: 1.5em;
        }
      }
    }

    .tv-in-text {
      text-align: center;
      margin-top: 65px;
      padding-top: 55px;

      @media (max-width: 767px) {
        margin-top: 8vw;
      }
      @media (max-width: 590px) {
        padding-top: 0;
      }
      @media (max-width: 500px) {
        margin-top: 20vw;
      }
      @media (max-width: 467px) {
        margin-top: 16vw;
      }

      img.first-line {
        margin-bottom: 28px;
        height: 188px;

        @media (max-width: 767px) {
          width: 20%;
          height: auto;
        }
        @media (max-width: 500px) {
          width: 25%;
          margin-bottom: 20vw;
        }
        @media (max-width: 467px) {
          width: 25%;
          margin-bottom: 16vw;
        }
      }

      .second-line {
        margin-bottom: 34px;
        letter-spacing: 1px;

        @media (max-width: 767px) {
          margin-bottom: 1em;
        }
        @media (max-width: 590px) {
          margin-bottom: 0.75em;
        }

        h2 {
          font-size: 40px;
          font-weight: 700;
          margin-bottom: 13px;
          letter-spacing: 0;

          @media (max-width: 767px) {
            font-size: 2.5em;
            margin-bottom: 0.3em;
          }
          @media (max-width: 590px) {
            font-size: 2em;
            margin-bottom: 0.2em;
          }
        }
        p {
          font-size: 25px;
          font-weight: 300;

          @media (max-width: 767px) {
            font-size: 1.5em;
          }
        }
      }

      .download-buttons {
        a {
          display: inline-block;
          text-align: center;
          height: 70px;
          width: 250px;
          vertical-align:top;

          @media (max-width: 767px) {
            height: 35px;
            width: 125px;
          }
          @media (max-width: 500px) {
            margin-bottom:53px;
          }

          &:first-child {
            margin-left: 4px;
            margin-right: 27px;
            background-color: @green;
            padding: 14px 0 0 2px;

            @media (max-width: 767px) {
              padding: 7px 0 5px;
              margin-left: 2px;
              margin-right: 13.5px;
            }
            @media (max-width: 330px) {
              margin: 0 5px 0 0;
            }

            img {
              @media (max-width: 767px) {
                height: 100%;
              }
            }
          }
          &:nth-child(2) {
            background-color: @dark-grey;
            padding-top: 19px;

            @media (max-width: 767px) {
              padding: 7px 0 5px;
            }

            img {
              @media (max-width: 767px) {
                height: 100%;
              }
            }
          }

        }
      }
    }
  }
  .android-players {
    text-align: center;
    padding-bottom: 54px;

    @media (max-width: 991px) {
      padding-bottom: 40px;
    }

    .first-line {
      h3 {
        font-size: 35px;
        font-weight: 300;
        margin-bottom: 8px;
        letter-spacing: 1px;
      }
      h2 {
        font-size: 35px;
        font-weight: 900;
        letter-spacing: 1px;
      }

      @media (max-width: 767px) {
        h2, h3 {
          font-size: 2em;
        }
      }
    }
    .logos {
      .flex(center);
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 20px;

      @media (max-width: 991px) {
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
      }

      img {
        @media (max-width: 991px) {
          margin-bottom: 10px;
          max-width: 100%;
        }
        &:not(:last-child) {
          margin-right: 23px;
        }
        &:first-child {
          height: 50px;
          margin-top: 18px;

          @media (max-width: 500px) {
            margin-right: 0;
          }
        }
        &:nth-child(2) {
          margin-top: -6px;
          height: 36px;
          margin-right: 25px;

          @media (max-width: 500px) {
            margin-right: 0;
          }
        }
        &:nth-child(3) {
          height: 60px;

          @media (max-width: 500px) {
            margin-right: 10px;
            margin-left: 10px;
          }
        }
        &:nth-child(4) {
          height: 35px;
          margin-top: 6px;

          @media (max-width: 368px) {
            height: 30px;
          }
        }

      }
    }
  }
  .quality {
    text-align: center;
    padding: 129px 0 133px;
    background-size: cover;
    background: url("../img/banners/last_section3.jpg") repeat-x top center;

    @media (max-width: 500px) {
      padding: 40px 0;
    }

    .first-line {
      h3 {
        font-size: 35px;
        font-weight: 300;
        margin-bottom: 6px;
      }
      h2 {
        font-size: 35px;
        font-weight: 900;
        letter-spacing: 1px;
        margin-bottom: 13px;
      }
      p {
        font-size: 25px;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 1px;
      }

      @media (max-width: 767px) {
        h2,h3 {
          font-size: 2em;
        }
        p {
          font-size: 1.5em;
        }
      }
    }
    .logos {
      margin-top: 30px;

      @media (max-width: 512px) {
        .flex(center);
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
      }

      img {
        &:not(:last-child) {
          margin-right: 35px;
        }
        &:first-child {
          margin-top: 34px;
        }
        &:nth-child(2) {
          margin-top: 18px;
        }

        @media (max-width: 512px) {
          &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 10px;
          }
          &:first-child {
            margin-top: 0;
          }
          &:nth-child(2) {
            margin-top: 0;
          }
        }
      }
    }
  }
  .program-guide {
    padding: 66px 0 50px;
    text-align: center;

    @media (max-width: 500px) {
      padding: 40px 0;
    }

    h2 {
      font-size: 35px;
      font-weight: 900;

      @media (max-width: 767px) {
        font-size: 2em;
      }
    }

    .sep {
      margin-bottom: 10px;
    }

    img {
      margin-left: -85px;

      @media (max-width: 1290px) {
        margin-left: 0;
        width: 100%;
      }
    }
  }
  .tuner-only {
    background-color: @footer-bg;
    padding: 125px 0 60px;

    @media (max-width: 500px) {
      padding-top: 40px;
    }

    .row {
      display: inline-block;

      img, .about-tuner {
        display: block;
        float: left;
      }

      img {
        width: 35%;

        @media (max-width: 767px) {
          padding-top: 50px;
        }
        @media (max-width: 560px) {
          padding-top: 0;
          width: 100%;
        }
      }

      .about-tuner {
        width: 65%;
        padding: 45px 0 0 29px;

        @media (max-width: 1200px) {
          padding-top: 0;
        }
        @media (max-width: 560px) {
          width: 100%;
          padding: 0;
        }

        h2 {
          text-transform: none;
          font-size: 40px;
          font-weight: 900;
          margin-bottom: 12px;

          @media (max-width: 767px) {
            font-size: 2.5em;
          }
        }
        p {
          color: @white;
          font-size: 25px;
          font-weight: 300;
          line-height: 28px;
          margin-bottom: 32px;

          @media (max-width: 767px) {
            font-size: 1.5em;
          }
        }
        .anchors {
          a {
            &:first-child {
              margin-right: 17px;
              padding: 8px 52px 10px;
              background-color: @green;
              font-size: 25px;
              font-weight: 900;

              @media (max-width: 384px) {
                display: block;
                margin: 0 0 10px 0;
                text-align: center;
              }
            }
            &:last-child {
              color: @blue;
              font-size: 18px;
              font-weight: 300;
              @media (max-width: 384px) {
                display: block;
                text-align: center;
              }
            }

            @media (max-width: 767px) {
              &:first-child {
                font-size: 1.5em;
              }
              &:last-child {
                font-size: 0.9em;
              }
            }
          }
        }
      }
    }
  }
  .setup-and-configurations {
    padding: 75px 0 250px;
    background: url("../img/banners/last_banner_hand.jpg") repeat-x center bottom -1px;
    background-size: cover;

    @media (max-width: 500px) {
      padding: 40px 0;
    }

    .first-line {
      text-align: center;

      h3 {
        font-size: 35px;
        font-weight: 300;
        margin-bottom: 5px;
      }
      h2 {
        font-size: 35px;
        font-weight: 900;
        letter-spacing: 1px;
      }

      @media (max-width: 767px) {
        h2, h3 {
          font-size: 2em;
        }
      }
    }

    ul {
      margin-top: 54px;

      li {
        margin-bottom: 17px;
        font-size: 25px;
        font-weight: 300;
        .flex(center);

        @media (max-width: 767px) {
          font-size: 1.5em;
        }

        
        &::before {
          content: '';
          display: block;
          height: 42px;
          width: 40px;
          background: url("../img/icons/checked.png") no-repeat top 2px left 0;
          margin-right: 7px;
        }
        &:nth-child(1), &:nth-child(3) {
          &::before {
            @media (max-width: 520px) {
              width: 50px;
            }
            @media (max-width: 440px) {
              width: 60px;
            }
            @media (max-width: 380px) {
              width: 76px;
            }
          }
        }
        &:nth-child(2) {
          &::before {
            @media (max-width: 380px) {
              width: 50px;
            }
          }
        }
      }
    }
  }
}