//Media Item Page
//--------------

.media-item-page {
  .media-item {
    padding-top: 100px;
    .flex(center);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    @media (max-width: 1200px) {
      min-height: 92vh;
    }
    @media (max-width: 991px) {
      min-height: 84vh;
      padding-top: 0;
    }
    @media (max-width: 767px) {
      min-height: 78vh;
    }
    @media (max-width: 400px) {
      min-height: 76vh;
    }
    @media (max-width: 365px) {
      min-height: 72vh;
    }
  }
}