//Media Page
//--------------

.media-page {
  .media-section {
    padding: 133px 0 100px;

    @media (max-width: 940px) {
      padding-top: 33px;
    }

    h1 {
      font-size: 35px;
      font-weight: 300;
      letter-spacing: 1px;

      @media (max-width: 767px) {
        font-size: 2em;
      }

      span {
        font-weight: 900;
        letter-spacing: 0;
      }
    }

    .media {
      .flex(center);
      justify-content: center;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;

      a{
        img {
          height: 300px;
          width: 380px;

          @media (max-width: 380px) {
            height: 253px;
            width: 320px;
          }
        }
      }
    }
  }
}