.mobile-menu-layers {
  display: none;

  .menu-shadow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: @black;
    opacity: 0.7;
    z-index: 2;
  }
  .absolute-mobile-menu {
    @media (max-width: 940px) {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      max-width: 500px;
      background-color: @bg;
      border-left: 1px solid @header-border;
      z-index: 3;

      .close-column {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        width: 75px;
        background: url("../img/banners/bg_texture.png") no-repeat;
        background-size: cover;
        background-position-x: -675px;

        .close-btn {
          background-color: @half-header-bg;
          height: 60px;
          position: relative;

          img {
            position: absolute;
            top: 16px;
            left: 24px;
          }
        }
      }


      .items-column {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        position: absolute;

        ul {
          float: left;
          margin: 30px;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;

          li {
            padding-bottom: 13px;
            margin-bottom: 22px;
            display: inline-block;
            margin-right: 50%;
          }
        }
        .dropdown {
          position: absolute;
          bottom: 30px;
          left: 30px;
          padding: 10px 13px;
          background-color: @half-dark-grey;
          text-align: center;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: bold;
          float: left;

          @media (max-height: 400px) {
            right: 10px;
            bottom: 10px;
            left: auto;
          }

          span {
            padding: 0 2px;
          }
          img {
            &:last-child {
              transform: rotate(180deg);
            }
          }
          .mobile-dropdown-menu {
            display: none;
            position: absolute;
            top: -88px;
            left: 0;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            padding: 10px 0;
            width: 132px;
            background-color: @half-dark-grey;
            text-align: center;
            margin: 0;

            li {
              width: 100%;
              margin: 0 0;

              &:not(:last-child) {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}
.active-menu-layers {
  display: block;
}