//News Page
//--------------

.news-page {
  .news-section {
    padding: 133px 0 100px;

    @media (max-width: 940px) {
      padding-top: 33px;
    }

    h1 {
      font-size: 35px;
      font-weight: 300;
      letter-spacing: 1px;

      @media (max-width: 767px) {
        font-size: 2em;
      }

      span {
        font-weight: 900;
        letter-spacing: 0;
      }
    }

    .sep-left {
      margin-bottom: 30px;
    }

    ul {
      li {
        margin-bottom: 30px;
        padding-bottom: 38px;
        border-bottom: 1px solid @header-border;

        h2 {
          text-transform: none;
          font-size: 25px;
          font-weight: 900;
          line-height: 35px;
          margin-bottom: 12px;

          @media (max-width: 767px) {
            font-size: 1.5em;

            span {
              font-size: 0.9em;
            }
          }

          span {
            display: inline-block;
            padding: 0 10px;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            background-color: @news-date-grey;
          }
        }
        p {
          font-size: 20px;
          font-weight: 300;
          line-height: 25px;
          margin-bottom: 3px;
        }
        a {
          font-size: 20px;
          font-weight: 300;
          line-height: 25px;
          color: @blue;
        }
        @media (max-width: 767px) {
          p, a {
            font-size: 1em;
          }
        }
      }
    }

    .numpage {
      text-align: center;

      a {
        display: inline-block;

        img {
          &.num-double-arrow-l {
            margin-right: 20px;

            @media (max-width: 431px) {
              margin-right: 10px;
            }
          }
          &.num-double-arrow-r {
            margin-left: 20px;

            @media (max-width: 431px) {
              margin-left: 10px;
            }
          }
        }
      }
      ol {
        margin: 0 20px;
        display: inline-block;

        @media (max-width: 431px) {
          margin: 0 10px;
        }

        li {
          display: inline-block;
          vertical-align: middle;

          a {
            padding: 10px 14px;
            font-size: 20px;
            background-color: @dark-grey;

            @media (max-width: 431px) {
              padding: 10px;
              font-size: 16px;
            }

            &.num-active {
              background-color: @num-active;
            }
            &:not(:last-child) {
              margin-left: 2px;
            }
          }
        }
      }
    }
  }
}