//News ext Page
//--------------

.news-next-page {
  .news-next-section {
    padding: 133px 0 70px;

    @media (max-width: 940px) {
      padding-top: 33px;
    }

    .heading-text {
      display: block;
      width: 51%;
      margin-bottom: 25px;

      @media (max-width: 767px) {
        width: 100%;

        a {
          font-size: 1em;
        }
        h1 {
          font-size: 2.5em;
        }
        span {
          font-size: 0.9em;
        }
      }

      a {
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        color: @blue;
      }
      h1 {
        margin: 15px 0 19px;
        text-transform: none;
        font-size: 40px;
        font-weight: 300;
        line-height: 44px;
      }
      span {
        display: inline-block;
        padding: 0 10px;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        background-color: @news-date-grey;
      }
    }
    .news-text {
      display: block;
      width: 100%;

      p {
        margin-bottom: 24px;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;

        @media (max-width: 767px) {
          font-size: 1em;
        }

        b {
          font-weight: 700;
        }
      }

      ul {
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        color: @grey-text;
        list-style: inside url("../img/icons/chcked-2.png");

        li {
          margin-left: 10px;
        }

        @media (max-width: 767px) {
          font-size: 1em;
        }

        span {
          margin-bottom: 8px;
          display: block;
        }
      }
    }
  }
}