//Support Page
//--------------

.support-page {
  .support-section {
    padding: 133px 0 100px;
    min-height: 89vh;

    @media (max-width: 1200px) {
      min-height: 92.35vh;
    }
    @media (max-width: 940px) {
      padding-top: 33px;
    }

    h1 {
      font-size: 35px;
      font-weight: 300;
      letter-spacing: 1px;

      @media (max-width: 767px) {
        font-size: 2em;
      }

      span {
        font-weight: 900;
        letter-spacing: 0;
      }
    }

    .support-blocks {
      .flex(center);
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      justify-content: space-between;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;

      &>div {
        display: inline-block;
        width: 49%;
        padding: 50px 50px 72px 50px;
        background-color: @footer-bg;
        text-align: center;

        @media (max-width: 991px) {
          width: 51%;
          margin: 0 auto;

          &.envelopes-block {
            margin-bottom: 40px;
          }
        }
        @media (max-width: 767px) {
          width: 100%;
        }

        img, h2, p {
          margin: 0 auto;
          display: block;
        }
        img {
          height: 90px;
          margin-bottom: 25px;
        }
        h2 {
          margin-bottom: 15px;
          font-size: 40px;
          font-weight: 300;
          text-transform: none;

          @media (max-width: 767px) {
            font-size: 2.5em;
          }
          @media (max-width: 374px) {
            font-size: 30px;
          }
        }
        p {
          margin-bottom: 47px;
          font-size: 20px;
          line-height: 25px;
          font-weight: 300;


          @media (max-width: 767px) {
            font-size: 1.5em;
          }
          @media (max-width: 374px) {
            font-size: 18px;
            line-height: 20px;
          }
        }
        a {
          padding: 8px 45px;
          background-color: @green;
          font-size: 25px;
          font-weight: 700;


          @media (max-width: 767px) {
            font-size: 1.5em;
          }
          @media (max-width: 374px) {
            font-size: 20px;
            padding: 15px 35px;
          }
        }
      }
    }
  }
}