//Fonts
//-----------
@main-font: 'Source Sans Pro', sans-serif;

//Colors:
//-----------
@header-bg: #1b172a;
@half-header-bg: rgba(27, 23, 42, 0.9);
@header-border: #4b4a58;
@header-active: #4a35cb;
@bg: #0a1723;
@footer-bg: #071018;
@white: #ffffff;
@black: #000000;
@grey-text: #a2a2a2;
@dark-grey: #323a45;
@half-dark-grey: rgba(50, 58, 69, 0.5);
@green: #7ca926;
@blue: #007ff2;
@news-date-grey: #525c69;
@num-active: #14202c;