//
// Base CSS File
// --------------------------------------------------

//Grid
//--------------------

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: 768px) {
    width: 100%;
  }
  @media (min-width: 992px) {
    padding-left: 0;
    padding-right: 0;
    width: 940px;
  }
  @media (min-width: 1200px) {
    width: 1140px;
  }
}


// Imports
// -------------------

@import "_reset";
@import "_mixins";
@import "_variables";

@import "_header";
@import "_mobile_menu";

@import "_about_page";
@import "_index_page";
@import "_media_page";
@import "_media_item_page";
@import "_news_page";
@import "_news_next_page";
@import "_support_page";

@import "_footer";


// Custom Styles
// -------------------

body {
  font-family: @main-font;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: @bg;
  color: @white;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
  }
  p {
    color: @grey-text;
  }
  a {
    &:hover, &:focus, &:active{
      color: @white;
      text-decoration: none;
    }
  }
  .content {
    background: url("../img/banners/bg_texture.png") repeat-x top center;

    @media (max-width: 940px) {
      padding-top: 60px;
      background-position: top 60px center;
    }
  }
  .sep {
    margin: 25px auto;
    width: 60px;
    border-bottom: 1px solid @white;
  }
  .sep-left {
    margin: 15px 0 40px;
    width: 60px;
    border-bottom: 1px solid @white;
  }
  .active-nav {
    border-bottom: 3px solid @header-active;
  }
}